{{>_navbar}}

<main>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">

            <div class="section-heading">
                <h2><em>TaskApp</em><br> Veja todos aqui!
                </h2>
                <div class="line-dec"></div>
                <p>Abaixo estão as tarefas.</p>
            </div>

            <a href=" /rota_tarefas/tarefas/add">
                <button class="btn btn-success">Nova Tarefa</button></a>
            {{#each tarefas}}
            <div class="card mt-4 service-item">
                <div class="card-body">
                    <h4><b>ID:</b>{{_id}}</h4>
                    <small><b>Nome:</b> {{nome}}</small><br>
                    <small><b>Descrição:</b> {{descricao}}</small><br><!--Botão para editar tarefas-->
                    <a href=" /rota_tarefas/editar_tarefas/{{_id}}">
                        <button class="btn btn-success mt-3">Editar tarefas</button></a>

                    <!--botão para deletar tarefas -->
                    <a href=" /rota_tarefas/deletar_tarefas/{{_id}}">
                        <button class="btn btn-danger mt-3">Deletar tarefas</button></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</main>

{{>_footer}}